<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>SIGNUP</title>
  </head>
  <body>
  <h1>Hello! Sign Up Here</h1>
  <hr>
  <form action="/signin" method="post">
    <b>email</b><br>
    <input type="email" name="email" placeholder="E-mail"><br><br>
    <b>name</b><br>
    <input type="text" name="name" placeholder="name"><br>
    <b>password</b><br>
    <input type="text" name="password" placeholder="password"><br>
    <button type="submit">가입</button>
  </form>
  </body>
</html>
